.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }

  body {
    background-image: url("../img/background_image.jpeg");
    background-size: 70%;
    background-attachment: fixed;
}
  .photo-container {
    font-size: 1.5em;
    background-color: #2c3e52;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
  }

  .border{
    border-radius: 10px;
  }

  .card-container{
    margin-bottom:20px ;
  }
  

 .events img{
    width: 150px;
    height: 120px;
  }
  
  .event-name {
    font-weight: bold;
    padding-bottom: 5px;
  }
  .event-location {
    font-weight: 300;
  }
  .day {
    font-weight: 300;
  }
  .month {
    font-weight: 600;
  }
  
  @media( max-width: 600px ) {
    .card-container {
      width: 90%;
    }
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.has-search .form-control {
  padding-left: 2.375rem;
}


.container-fluid{
  display: flex;
  align-items:center;
}

/* ~~ Top Navigation Bar ~~ */

#navigation-container {
  margin: 0 auto;
  padding: 5px;
}

.navigation-bar {
  height: 96px;
  width: 100%;
  text-align:center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.navigation-bar img{
  float:left;
  margin-top: 5px;
  width: 156px;
}
.navigation-bar ul {
  display: flex; 
  float: right;
  margin-top: 5px;
}

.navigation-bar li {
  list-style-type: none;
}

.navigation-bar li a, .navigation-bar span{
  font-size: 14.5px;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  text-align: center;
  margin-top: 5px;
  padding: 0px 10px;
  max-width: 100px; 
  opacity: 0.9;
  color: #2c3e52;
  display: block; 
}

.navigation-bar li a .my-app-text{
  padding: 3px ;
  margin-top: 0px;
  max-width: 85px;
  
}

.navigation-bar li a:focus::after,
.navigation-bar li a:hover::after {
  opacity: 1;
}

.navigation-bar li a::after {
  height: 96px;
  -webkit-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
  content: '';
  width: 85px;
  position: absolute;
  top: 0;
  margin-left: -41px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.features-container{
  margin: 10px;
  margin-top: 18px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.features-container .features{
  display: flex;
  min-width: 700px;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  text-align: center;
}

.dropdown .sort-expand,.search-expand{
  width: 45px;
  height: 35px;
  padding: auto;
  border-radius: 50px;
  border: 2px solid #aaa;
  background-color: #aaa;
  color: #fff;
  align-items: center;
  display: flex;
  flex-direction: row;
  transition: width 0.7s;
}

.search-expand{
  margin-right: 10px ;
}

.dropdown .sort-expand i{
  margin-left: 9px;
  z-index: 1;
}

.search-expand i{
  margin-left: 5px;
}

.search-expand i:hover{
  color: seagreen;
}

.dropdown .sort-expand::after{
  position: absolute;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #aaa;
  transition: 0.3s;
  content: "";
}

.dropdown .sort-expand:hover::after {
  border-radius: 10px;
  width: calc(100% + 5px);
  height: calc(100% + 4rem);
}

.dropdown .sort-expand:hover{
  width: 120px;
  transition: width 0.7s;
}


.search-expand:hover{
  width: 200px;
  transition: width 0.7s;
}

 

.dropdown .sort-expand .button-text{
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

 .search-expand .button-text{
  opacity: 0;
  width: 100%;
  margin-left: 10px;
  background-color: inherit;
  border: none;
  outline: none;
}

.features-container .features .sort-expand:hover .button-text, .search-expand:hover .button-text{
  opacity: 1;
  transition: opacity 1.5s;
}

 .dropdown-content {
  display: block;
  position: absolute;
  top: 35px;
  left: 0px;
  border-radius: 0 0 10px 10px;
  background-color: #aaa;
  width: 70px;
  height: 0px;
  visibility: collapse;
  transition: width 0.7s;
  z-index: 1;
}

.dropdown-content span {
  padding: 12px 16px;
  color: #fff;
  border-radius: 0 0 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {background-color:seagreen;}

.dropdown:hover .dropdown-content {
  width: 125px;
  height: fit-content;
  visibility: visible;
  transition: width 0.7s;
}

.dropdown:hover span{
  visibility: visible;
}


