.form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }

  body {
    --bs-body-bg: #eee;
}

#logout-option{
  color: rgb(248, 70, 70);
}

#logout-text{
  color: red;
}

  .photo-container {
    font-size: 1.5em;
    background-color: #2c3e52;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
  }

  .border{
    border-radius: 10px;
  }

  .card-container{
    margin-bottom:20px ;
  }
  

 .events img{
    width: 200px;
    height: 170px;
  }
  
  .event-name {
    font-weight: bold;
    padding-bottom: 5px;
  }
  .event-location {
    font-weight: 300;
  }
  .day {
    font-weight: 300;
  }
  .month {
    font-weight: 600;
  }
  
  @media( max-width: 600px ) {
    .card-container {
      width: 90%;
    }
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.has-search .form-control {
  padding-left: 2.375rem;
}


.container-fluid{
  display: flex;
  align-items:center;
}

/* ~~ Top Navigation Bar ~~ */


.navigation-bar {
  height: 96px;
  width: 100%;
  text-align:center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.navigation-bar img{
  float:left;
  margin-top: 5px;
  width: 156px;
}
.navigation-bar ul {
  display: flex; 
  float: right;
  margin-top: 5px;
}

.navigation-bar li {
  list-style-type: none;
  margin-top: 5px;
}

.navigation-bar li a, .navigation-bar span{
  font-size: 14.5px;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  text-align: center;
  margin-top: 5px;
  padding: 0px 10px;
  max-width: 100px; 
  color: #2c3e52;
  display: block; 
}

.navigation-bar li a #my-app-text{
  padding: 3px ;
  margin-top: 0px;
  max-width: 85px;
  
}

.navigation-bar li a:focus::after,
.navigation-bar li a:hover::after {
  opacity: 1;
}

.navigation-bar li a::after {
  height: 96px;
  -webkit-box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3);
  content: '';
  width: 85px;
  position: absolute;
  top: 0;
  margin-left: -41px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.features-container{
  margin: 10px;
  margin-top: 18px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.features-container .features{
  display: flex;
  min-width: 700px;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  text-align: center;
}

.dropdown .sort-expand,.search-expand{
  width: 45px;
  height: 35px;
  padding: auto;
  border-radius: 50px;
  border: 2px solid #aaa;
  background-color: #aaa;
  color: #fff;
  align-items: center;
  display: flex;
  flex-direction: row;
  transition: width 0.7s;
}

.search-expand{
  margin-right: 10px ;
}

.dropdown .sort-expand i{
  margin-left: 9px;
  z-index: 1;
}

.search-expand i{
  margin-left: 5px;
}

.search-expand i:hover{
  color: seagreen;
}

.dropdown .sort-expand::after{
  position: absolute;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: #aaa;
  transition: 0.3s;
  content: "";
}

.dropdown .sort-expand:hover::after {
  border-radius: 10px;
  width: calc(100% + 5px);
  height: calc(100% + 4rem);
}

.dropdown .sort-expand:hover{
  width: 120px;
  transition: width 0.7s;
}


.search-expand:focus-within, .search-expand:hover{
  width: 200px;
  transition: width 0.7s;
}


 

.dropdown .sort-expand .button-text{
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

 .search-expand .button-text{
  opacity: 0;
  width: 100%;
  margin-left: 10px;
  background-color: inherit;
  border: none;
  outline: none;
}


.features-container .features .sort-expand:hover .button-text,.search-expand:focus-within .button-text,.search-expand:hover .button-text{
  opacity: 1;
  transition: opacity 1.5s;
}

 .dropdown-content {
  display: block;
  position: absolute;
  top: 35px;
  left: 0px;
  border-radius: 0 0 10px 10px;
  background-color: #aaa;
  width: 70px;
  height: 0px;
  visibility: collapse;
  transition: width 0.7s;
  z-index: 1;
}

.dropdown-content span {
  padding: 12px 16px;
  color: #fff;
  border-radius: 0 0 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {background-color:seagreen;}

.dropdown:hover .dropdown-content {
  width: 125px;
  height: fit-content;
  visibility: visible;
  transition: width 0.7s;
}

.dropdown:hover span{
  visibility: visible;
}

.navigation-bar .heading-text{
  position: relative;
  font-size: large;
  font-weight: bolder;
  margin: 0 auto;
  top: 30%;
  white-space: nowrap;
}

.bg-confetti-animated {
  background-repeat: repeat-x;
  background-position: top -10px center;
  background-image: url("data:image/svg+xml,%3Csvg width='600' height='90' viewBox='0 0 600 90' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='42' y='-10' width='6' height='10'/%3E%3Crect x='84' y='-10' width='6' height='10'/%3E%3Crect x='126' y='-13' width='5' height='13'/%3E%3Crect x='168' y='-13' width='5' height='13'/%3E%3Crect x='210' y='-10' width='6' height='10'/%3E%3Crect x='252' y='-13' width='5' height='13'/%3E%3Crect x='294' y='-10' width='6' height='10'/%3E%3Crect x='336' y='-13' width='5' height='13'/%3E%3Crect x='378' y='-13' width='5' height='13'/%3E%3Crect x='420' y='-10' width='6' height='10'/%3E%3Crect x='462' y='-10' width='6' height='10'/%3E%3Crect x='504' y='-13' width='5' height='13'/%3E%3Crect x='546' y='-10' width='6' height='10'/%3E%3Cstyle type='text/css'%3E rect %7B opacity: 0; %7D rect:nth-child(1) %7B transform-origin: 45px 5px; transform: rotate(-145deg); animation: blast 700ms infinite ease-out; animation-delay: 88ms; animation-duration: 631ms; %7D rect:nth-child(2) %7B transform-origin: 87px 5px; transform: rotate(164deg); animation: blast 700ms infinite ease-out; animation-delay: 131ms; animation-duration: 442ms; %7D rect:nth-child(3) %7B transform-origin: 128px 6px; transform: rotate(4deg); animation: blast 700ms infinite ease-out; animation-delay: 92ms; animation-duration: 662ms; %7D rect:nth-child(4) %7B transform-origin: 170px 6px; transform: rotate(-175deg); animation: blast 700ms infinite ease-out; animation-delay: 17ms; animation-duration: 593ms; %7D rect:nth-child(5) %7B transform-origin: 213px 5px; transform: rotate(-97deg); animation: blast 700ms infinite ease-out; animation-delay: 122ms; animation-duration: 476ms; %7D rect:nth-child(6) %7B transform-origin: 255px 6px; transform: rotate(57deg); animation: blast 700ms infinite ease-out; animation-delay: 271ms; animation-duration: 381ms; %7D rect:nth-child(7) %7B transform-origin: 297px 5px; transform: rotate(-46deg); animation: blast 700ms infinite ease-out; animation-delay: 131ms; animation-duration: 619ms; %7D rect:nth-child(8) %7B transform-origin: 338px 6px; transform: rotate(-65deg); animation: blast 700ms infinite ease-out; animation-delay: 85ms; animation-duration: 668ms; %7D rect:nth-child(9) %7B transform-origin: 380px 6px; transform: rotate(13deg); animation: blast 700ms infinite ease-out; animation-delay: 128ms; animation-duration: 377ms; %7D rect:nth-child(10) %7B transform-origin: 423px 5px; transform: rotate(176deg); animation: blast 700ms infinite ease-out; animation-delay: 311ms; animation-duration: 508ms; %7D rect:nth-child(11) %7B transform-origin: 465px 5px; transform: rotate(108deg); animation: blast 700ms infinite ease-out; animation-delay: 108ms; animation-duration: 595ms; %7D rect:nth-child(12) %7B transform-origin: 506px 6px; transform: rotate(62deg); animation: blast 700ms infinite ease-out; animation-delay: 105ms; animation-duration: 375ms; %7D rect:nth-child(13) %7B transform-origin: 549px 5px; transform: rotate(16deg); animation: blast 700ms infinite ease-out; animation-delay: 149ms; animation-duration: 491ms; %7D rect:nth-child(odd) %7B fill: %2365BB5C; %7D rect:nth-child(even) %7B z-index: 1; fill: %2333AAFF; %7D rect:nth-child(4n) %7B animation-duration: 1400ms; fill: %23F23B14; %7D rect:nth-child(3n) %7B animation-duration: 1750ms; animation-delay: 700ms; %7D rect:nth-child(4n-7) %7B fill: %232A2F6A; %7D rect:nth-child(6n) %7B fill: %23FBBA23; %7D @keyframes blast %7B from %7B opacity: 0; %7D 20%25 %7B opacity: 1; %7D to %7B transform: translateY(90px); %7D %7D %3C/style%3E%3C/svg%3E%0A");
}

/* loading */
.loader{
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes loading{
  0%{
    height: 50px;
    top: 0px;
  }
  
  50%{
    height: 70px;
    top: -10px;
  }
  
  100%{
    height: 50px;
    top: 0px;
  }
}

#loading{
  position:absolute;
  background-color: #198754;
  height: 50px;
  width: 15px;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#loading.loading1{
  left:-25px;
  animation-delay: 0.2s;
}

#loading.loading2{
  left:0px;
  animation-delay: 0.4s;
}

#loading.loading3{
  left:25px;
  animation-delay: 0.6s;
}