 #calendar{
    margin: 50px auto;
    font-family: 'Rubik', sans-serif;
    background-color:#badbcc;
    padding: 8%;
    padding-top: 3%;
    border-radius: 5%;
}



.fc .fc-daygrid-day-top {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    position: relative;
    margin-top: 30%;
} 

#calendar a,.fc-toolbar-title,.fc-daygrid-day-number{
    color: #0f5132!important;
    font-weight: bold;
    text-decoration: none;
}


